body {
    margin: 0;
    font-family: Roboto;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}